<form class="form-sesion">
    <section class="inputs-container">
        <mat-form-field
        appearance="standard"
        class="buscador-container">
        <input
          matInput
          placeholder="Usuario"
          #filtro
          [(ngModel)]="usuario.usuario"
          [ngModelOptions]="{ standalone: true }"
          class="buscador inputs-sesion"
        />
        <mat-icon matSuffix class="icon-usuario">account_circle</mat-icon>
      </mat-form-field>

        <mat-form-field appearance="standard" class="example-full-width">
          <input matInput [type]="hide ? 'password' : 'text'"  [(ngModel)]="usuario.contrasena"
          [ngModelOptions]="{ standalone: true }" placeholder="Contraseña">
          <button mat-icon-button matSuffix (click)="inputPassword()" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
    </section>

    <div class="example-button-row actions-buttons">
      <button mat-raised-button color="accent" (click)="registrarse(usuario)">
        Registrarse
      </button>
      <button mat-raised-button class="register-button" color="primary" (click)="iniciarSesion()">
        Iniciar Sesion
      </button>
    </div>
  </form>
