.form-sesion{
    width: 30%;
    height: 23%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20em;
    margin: auto;
    background-color: white;
    padding: 2em;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
}

.inputs-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actions-buttons{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.icon-usuario{
    margin-right: 0.23em;
}
